@charset "utf-8";
.container_shopping{
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
}
.shopping_box{
	margin-bottom: 20px;
}
.shopping_box .shopping_guide{
	background: url(../img/img11/cart_step.jpg) no-repeat;
	width: 700px;
	height: 47px;
	margin:30px 0;
}
.shopping_box .shopping_list{
	margin-bottom: 25px;
}
/*.shopping_box .shopping_list tr{

}*/
.shopping_box .shopping_list th{
	background-color: #ebeaea;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px solid #b3b3b3;
	
}
.shopping_box .shopping_list th label{
	padding-left: 12px;
}
.width1{
	width: 80px;
}
.width2{
	width: 223px;
}
.width3{
	width: 112px;
}
.width4{
	width: 170px;
}
.width5{
	width: 112px;
}
.width6{
	width: 167px;
}
.width7{
	width: 176px;
}
.width8{
	width: 75px;
}
.width9{
	width: 95px;
}
.shopping_box .shopping_list td{
	background-color: #FFFFFF;
	text-align: center;
	border-bottom: 1px solid #b3b3b3;
	color: #666666;
}
.shopping_box .shopping_list .check input{
	position: absolute;
	left: 12px;
}
.shopping_box .shopping_list .shopping_pic img{
	display: inline-block;
	padding: 1px 0;
}
.shopping_box .shopping_list .choose_num{
	display: inline-block;
	width: 100px;
	text-align: center;
}
.shopping_box .shopping_list .choose_num input{
	display: inline-block;
	width: 44px;
	height: 18px;
	text-align: center;
	font-weight: bold;
	color: #000000;
}
.shopping_box .shopping_list .minus{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/img9/brandstore_share.png) no-repeat -311px -292px;
	background-color: #C8A985;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
.shopping_box .shopping_list .choose_num .plus{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/img9/brandstore_share.png) no-repeat  -268px -292px;
	background-color: #C8A985;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.shopping_box .shopping_list .count{
	font-weight: bold;
	color: #000000;
}
.shopping_box .shopping_list .work{
	line-height: 24px;
	text-align: left;
}
.shopping_box .shopping_list .work a{
	color: blue;
}
.shopping_box .shopping_list .work .wrap_icon{
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(../img/img11/new_5luxbg.png) no-repeat -361px -51px;
}
.shopping_box .shopping_list .work span{
	color: #cc0000;
}
.shopping_box .shopping_count{
	color: #666666;
	line-height: 16px;
	padding: 10px 0;
}
.shopping_box .shopping_count .left{
	margin-left:12px ;
}
.shopping_box .shopping_count a{
	display: inline-block;
	margin-left: 8px;
}
.shopping_box .shopping_count .goods_empty{
	padding-left: 15px;
	border-left: 1px solid #666666;
}
.shopping_box .shopping_count .right .goods_num{
	color: #d32424;
}
.shopping_box .shopping_count .right .total_price{
	font-size: 20px;
	color: #d73128;
}
.shopping_box .shopping_count .right input{
	display: inline-block;
	width: 140px;
	height: 35px;
	border: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	background-color: #d31920;
	margin-left: 20px;
}
